 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 791px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 55px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 457px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 48px;
  height: 48px;
  margin: 18px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -44px auto 0 68px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 25px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 229px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 7px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 229px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 234px;
  height: 91px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 42px auto 0 25px;
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 686px;
}

.u-section-1 .u-container-layout-4 {
  padding-top: 29px;
  padding-bottom: 29px;
}

.u-section-1 .u-image-3 {
  width: 323px;
  height: 598px;
  margin: 0 auto;
}

.u-section-1 .u-list-1 {
  width: 394px;
  margin: 50px auto 0 190px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 377px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 566px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2054px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 1000px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2032px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 750px;
  }

  .u-section-1 .u-list-1 {
    margin-left: 146px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1612px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 472px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }
}